<h1>Editing User</h1>

<%= form_tag(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :name %><br>
    <%= text_field_tag :'user[name]' %>
  </div>
  <div class="field">
    <%= label_tag :password %><br>
    <%= text_field_tag :'user[password_hash]' %>
  </div>
  <div class="field">
    <%= label_tag :email %><br>
    <%= text_field_tag :'user[email]' %>
  </div>
  <div class="actions">
    <%= submit_tag "Update User"%>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
